---
import { Image } from "astro:assets";
import DCS from "../../public/projects/DCS.png";
import SquareBear from "../../public/projects/SquareBear.png";
import Apkudo from "../../public/projects/Apkudo.png";
import SKFL from "../../public/projects/SKFL.png";

interface Articles {
  title: string;
  image: ImageMetadata;
  link: string;
  status: string;
}

const articles: Articles[] = [
  {
    title: "Why do products fail?",
    image: DCS as ImageMetadata,
    link: "https://www.leadingtheproduct.com/blog/why-do-products-fail/",
    status: "Only 14% of software projects are successful. For a $ 5t industry this is very wasteful. Why does this happen? ",
  },
  {
    title: "SquareBear",
    image: SquareBear as ImageMetadata,
    link: "https://app.squarebear.com.au/",
    status: "My 1st startup, good customer base",
  },
  {
    title: "Apkudo",
    image: Apkudo as ImageMetadata,
    link: "https://www.apkudo.com/platform-overview",
    status: "Successful robotics platform",
  },
  {
    title: "SKFL",
    image: SKFL as ImageMetadata,
    link: "https://skfl.tech/",
    status: "SKFL in BETA, first customers engaged",
  },
];
---

<section
  id="articles"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Thought leadership</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Articles</h3>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      {
        articles.map((articles) => (
          <div class="group">
            <a
              href={articles.link}
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <div class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4">
                <Image
                  src={articles.image}
                  alt={articles.title}
                  class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
                />
              </div>
              <div class="flex items-center px-3">
                <div class="flex-grow">
                  <h4 class="text-2xl font-semibold">{articles.title}</h4>
                  <span class="py-1 text-sm text-[var(--white-icon)]">
                    {articles.status}
                  </span>
                </div>
                <div class="flex gap-2 ml-auto">
                  <a
                    target="_blank"
                    href={articles.link}
                    aria-label="GitHub"
                    class="size-14 flex justify-center items-center text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-7"
                    >
                      <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                    </svg>
                  </a>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
    
  </div>
</section>
